@media (max-width: 768px) {
  .photo-block {
    flex-direction: column;
    text-align: center;
  } 

  .photo {
    width: 100%;
    height: auto;
  }

  .photo-text {
    width: 100%;
    padding: 10px;
  }
   .katalogBtn {
        font-size: 16px;
        padding: 10px 14px;
    }
    .catalog-links {
    padding: 10px;
}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;  
    background: url("../images/img1.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header {
    position: static;
    width: 100%;
    text-align: center;
    height: 60px;
    background-color: rgb(168, 110, 165);
    color: white;
    font-size: 30px;
    line-height: 60px;
    text-shadow: 5ch 5ch 50px rgba(14, 0, 0, 0.5);
    
}
#footer {
    
    background: #6d756c;    
    padding: 0px;
    cursor: pointer;
    position: static;
    
  }

#info  {
    list-style: lower-latin;
    display: block;
    position: static;    
    text-align: center;
    height: 70px;
    line-height: 70px;

}
#info  li {
    display: inline;
    background-color: rgba(255,255,255,0.4);
    border: 2px solid rgb(168, 110, 165);  
    padding: 0 40px;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    border-radius: 8px;
    margin: 15px;
    
    
    
  }
  .katalogBtn{
    
    background-color: rgba(255,255,255,0.4);
    border: 5px solid rgb(168, 110, 165);     
    cursor: pointer;
    display: inline-block;
    color: rgb(18, 7, 65);
    height: 60px;
    width: 40%;
    border-radius: 15px;
    position: static;       
    font-size: 25px;
    font-style:normal;
    font-weight: 500;
    text-decoration: none;
    line-height: 50px; 
    max-width: 100%;
    box-sizing: border-box;  
    
  }
  
  .katalogBtn:hover {
    color: #1f0707;
    background: #fafafa;
    border-radius: 15px;
    border-color: #b5d4b7;
    
  
  }
#info  li:hover {
    color: #1f0707;
    background: #fafafa;
    border-radius: 10px;
    border-color: #b5d4b7;
  
  } 

  #call {
    list-style: lower-latin;      
    text-align: center;    
    line-height: 16px;         
    width: 100%; 
    padding: 20px;
    font-size: 19px;
    margin-top: 95%;
    
     
    
  }
  #call  li {
    color: #f5eeee;
    border-radius: 5px;
    position: relative;    
    background-color: rgb(168, 110, 165, 0.7);  
   
  }
    
  #call li p {
    color: rgb(255, 253, 253);
    cursor: pointer;    
  }
  

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: scroll; /* Включить прокрутку, если нужно */
    background-color: rgb(0,0,0); /* Черный фон с прозрачностью */
    background-color: rgba(0,0,0,0.4); /* Черный фон с прозрачностью */
}
    
.modal1 {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: scroll; /* Включить прокрутку, если нужно */
    background-color: rgb(0,0,0); /* Черный фон с прозрачностью */
    background-color: rgba(0,0,0,0.4); /* Черный фон с прозрачностью */
}
.modal2 {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: scroll; /* Включить прокрутку, если нужно */
    background-color: rgb(0,0,0); /* Черный фон с прозрачностью */
    background-color: rgba(0,0,0,0.4); /* Черный фон с прозрачностью */
}

.modal-content {
    background-color: #b387b3;
    margin: 10% auto; 
    padding: 15px;
    border: 1px solid #9c341a;
    width: 80%; /* Ширина модального окна */
    border-radius: 10px;
    font-size: 20px;
    font-style: italic;
}
.close {
    color: #0c0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; 
     
}
.close :hover {
    color: rgb(14, 0, 0);
}

#aboutBtn {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;     
    margin: 0;
    cursor: pointer;
    font: inherit;
}     

#Kontakts {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;     
    margin: 0;
    cursor: pointer;
    font: inherit;
}   
.call-button {
    display: inline-block;
    background-color: #b942bd;
    color: white;
    padding: 3px 10px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
.call-button:hover {
    background-color: #9a2da8;
}



